@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root{
  --font-family: "Mallanna", cursive;
  --main-yellow: rgb(255, 232, 45);
  --jungle-green: #4F9A45;
  --dark-green: #142F14;
  --main-red: #F8412B;
  --title-font: 'Darker Grotesque', sans-serif;
  --alt-font: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --logo-font: 'Damion', cursive;
  --light-green : #396746;
}
body {
  font-family: var(--font-family);
  background: linear-gradient(90deg,#20292A,#396746);
  line-height: 1.5;
  overflow-x: hidden !important;
  color: #fff;
}
.active {
  left: 0%;
}
button {
  cursor: pointer;
}
.loader {
  display: inline-block;
  position: relative;
}
.loader:after {
  position: relative;
  top: 5px;
  content: " ";
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 10px;
  margin: 8px;
  box-sizing: border-box;
  border: 12px solid var(--main-yellow);
  border-color: var(--main-yellow) transparent var(--main-yellow) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}