*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --main-font : proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
body{
    overflow-x: hidden;
}
.topBar{
    display: flex;
    align-items: center;
    width: 100vw !important;
}
.topBar img{
    height: 80px;
    width: 110px;
    margin-right: auto;
}
#menu{
    margin-right: 10px;
}
@media screen and (min-width:780px){
    .topBar img{
        height: 100px;
        width: 150px;
    }
    #menu{
        margin-right: 30px;
    }
}
.topBar div{
    font-size: 1rem;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-weight: 700;
    font-family: proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
.topBar div:hover{
    color: #3E8141;
}
.topBar div a{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}
.topBar div a:hover{
    color: #3E8141;
}
main div{
    font-family: proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
main{
    display: flex;
    min-height: 80vh;
    align-items: center;
}
main img{
    height: unset;
    width: unset;
}
#info h1{
    font-weight: 700;
    font-size: 2.2rem;
}
@media screen and (max-width: 425px){
    main img{
        max-width: 90vw;
        height: auto;
        margin-top: 20px;
        align-self: center;
    }
    
    #info{
        width: 100vw;
    }
    main{
        flex-direction: column-reverse;
    }
    
}
@media screen and (max-width: 780px){
    main img{
        max-width: 90vw;
        height: auto;
        margin-top: 20px;
        align-self: center;
        border-left: 3px solid #1C6B20;
        border-right: 3px solid #1C6B20;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    #info{
        max-width: 90vw;
        align-self: center;
    }
    main{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
}
@media screen and (min-width: 780px){
    main img{
        max-width: 600px;
        height: auto;
        margin-top: 20px;
        align-self: center;
        border-left: 5px solid #1C6B20;
        border-right: 5px solid #1C6B20;
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
    }
    main{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
#info article{
    margin-top: 20px;
    display: flex;
}
#info article button{
    margin-right: 10px;
}

button {
    position: relative;
    padding: 14px 30px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
    font-family: proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
   }
   
   button span {
    position: relative;
    color: #fff;
    z-index: 1;
   }
   
   button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #1C6B20;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
   }
   
   button .liquid::after,
   button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
   }
   
   button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
   }
   
   button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
   }
   button .liquid2::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
    animation-delay: .5s;
   }
   
   button .liquid2::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
    animation-delay: .5s;
   }
   button:hover .liquid {
    top: -120px;
   }
   
   @keyframes animate {
    0% {
     transform: translate(-50%, -75%) rotate(0deg);
    }
   
    100% {
     transform: translate(-50%, -75%) rotate(360deg);
    }
   }
 /* help button */
   /* From cssbuttons.io */
.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1em 2em;
    position: fixed;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
    bottom: 30px;
    right: 30px;
    z-index: 1070;
   }
@media screen and (max-width: 780px){
    .fancy{
        /* padding: .3em .7em; */
        position : relative;
        top: 2500px;
        left: 20px;
    }
}
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: #1C6B20;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }

/* nav bar */
#menu1{
    height: 83vh;
    width: 300px;
    position: fixed;
    top: 80px;
    z-index: 3000;
    right : -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1C6B20;
    transition: all .5s ease-in-out;
}
#menu1 h2{
    justify-self: center;
    margin-top: 20px;
    text-align: center;
}
#menu1 a{
    height: 40px;
    width: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
#menu1 a:hover{
    background: #748d76;    
}
@media screen and (max-width: 425px){
    #menu1{
        width: 100vw;
    }
}
.moveRight{
    right: 0% !important;
   transition: all .5s ease-in-out; 
}
.tags{
    display: flex;
    column-gap: 10px;
    margin-left: 4.5vw;
    font-family: proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
.tags a{
    text-decoration: none;
    color: #333;
}
.tags a:visited{
    color: #333;
}
#section3{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 20px;
}
@media screen and (min-width: 780px){
    #section3{
        margin-top: 100px;
    }
}
.blob{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    fill: #1C6B20;
    transform-origin: 50% 50%;
}
.blob1{
    fill: yellow;
}
.blob1 svg{
    transform: rotate(30deg);
}
.blob2{
    fill: red;
}
.blob2 svg{
    transform: rotate(60deg);
}
.blob svg,path{
    position: relative;
    height: 120px;
    width: 120px;
}
.blob img{
    position: relative;
    height: 50px;
    width: 50px;
    bottom: 90px;
    color: #1C6B20;
}
.blob article{
    position: relative;
    bottom: 50px;
    font-family: var(--main-font);
    font-weight: 400;
    margin-top: 20px;
}

/* philosophy */

.blogPost{
    text-align: center;
    min-height: 100vh;
    background: #1C6B20;
    padding: 30px 10px 20px 10px;
}
.blogPost > h1{
    text-decoration: underline;
}
.producers{
    background: rgb(179, 179, 36);
}
