.filters{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 220px;
    font-family: var(--font-family);
    gap: 10px;
    padding: 5px;
}
.filters a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    transition: all 0.1s ease-in-out;
}
.filters a:visited{
    color: #333;
}
.filters a:hover{
    background-color: #f1f1f1;
}
.filters a img{
    height: 25px;
    margin-right: 20px;
}