.landing{
    display: flex;
    padding: 10px 50px;
    font-family: var(--font-family);
    gap: 30px;
    margin-top: 10px;
}
.landing-image{
    overflow: hidden;
    display: flex;
    width: min-content;
   /* From https://css.glass */
    background: rgba(255, 232, 45, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 232, 45, 0.78);
}
.landing-image > img{
    position: relative;
    top: 90px;
    right: 40px;
    height: 80%;
}
.landing-text img{
    height: 20px;
}
.landing-text h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    position: absolute;
    left: 20px;
}
.landing-text .first-text{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    top: 50px;
    right: 30px;
}
.landing .landing-text .second-text{
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    top: 50px;
    right: 30px;
}
.landing-text a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
    transition: all 0.1s ease-in-out;
    padding: 7px 15px;
    position: relative;
    top: 60px;
    right: 30px;
    background-color: var(--main-yellow);
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 10px;
}
.landing-text a:hover{
    background-color: var(--main-red);
    color: #fff;
}
.landing-text a:visited{
    color: #333;
}