nav {
    padding: 5px 40px;
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .icon {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .icon img {
    height: 50px;
    margin-right: 10px;
}
nav .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
nav .account .cart{
    background-color: #fff;
    opacity: .2;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;

}
nav .account .cart img{
    height: 24px;
}
nav .account-details button{
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 7px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255,.3);
    color: #fff;
}
nav .nav-links{
    /* margin: auto; */
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
}
.nav-links a:visited{
    color: #fff;
}
.nav-links .dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    height: 30px;
    transition: all 200ms ease-in-out;
}
.nav-links .dropdown:hover{
    background-color: var(--main-yellow);
}
.nav-links .dropdown .user-icon {
    height: 20px;
}
.nav-links .dropdown .arrow-down{
    height: 15px;
}
.nav-links .dropdown .dropdown-content{
    position: absolute;
    top: 40px;
    width: max-content;
    background-color: red;
}
.isLoggedIn , .isNotLoggedIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    gap: 10px;
    padding: 15px 6px;
    width: 200px;
    border-radius: 4px;
}
.isLoggedIn a , .isNotLoggedIn a{
    color: #333;
    /* border: 1px solid #333; */

}
.isLoggedIn a:visited , .isNotLoggedIn a:visited{
    color: #333;
}
.isLoggedIn a, .isNotLoggedIn a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 0 0 10px;
}
.isLoggedIn a img, .isNotLoggedIn a img{
    height: 23px;
    margin-right: 20px;
}
.nav-links a:hover {
    background-color: #f1f1f1;
}
