:root{
    --font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --main-yellow: #FFE82D;
    --jungle-green: #4F9A45;
    --dark-green: #142F14;
    --main-red: #F8412B;
}