body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family : proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}  
.wrapper{
    height:  80vh;
    display: grid;
    place-items: start;
}
.wrapper > img{
    height: 120px;
    width: 150px;
    place-self: start center;
}
.wrapper2{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.wrapper2 > div{
    text-align: center;
}
/* button  */
button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #3E8141;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 40px;
}
   
   button:hover {
    background: yellow;
   }
   
   button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
   }
   
   button:hover svg {
    transform: translateX(5px);
   }
   
   button:active {
    transform: scale(0.95);
   }