body{
    display: grid;
    place-items: center;
    font-family:proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
#image{
    height: 80px;
    width: 110px;
    margin-right: auto;
    color: green;
}
nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 97vw;
    top: 10px;
    background: white;
    z-index: 1070;
}
.navImages{
    height: 20px;
    width: 30px;
    margin-left: 30px;
}
.image1{
    margin-left: auto;
} 
#search{
    width: 60%;
    align-self: flex-end;
    appearance: none;
    outline: none;
    border: none;
    height: 40px;
    background: #dce2dd;
    border-radius: 5px;
    transition: all .5s ease;
    position: relative;
    top: 80px;
    font-size: large;
    font-weight: 500;
}
#search:focus{
    border-bottom: 1px solid #3E8141;
}
#search::placeholder{
    color:#3E8141;
}
@media screen and (max-width: 425px) {
    .navImages{
        margin-left: 15px;
    }
    #image{
        height: 60px;
        width:80px;
        margin-right: auto;
        color: green;
    }
    nav input{
        position: relative;
        top: 40px;
        width: 100px;
    }

}
main{
    display: grid;
    position: absolute;
    top: 165px;
    grid-template-columns: auto auto;
}
#popular{
    position: absolute;
    top: 120px;
}
/* side barrrr */
#sideBar{
    width: 300px;
    background: #3E8141;
    height: max-content;
    top: 135px;
    display: flex;
    flex-direction: column;
    z-index: 1070;
}
#sideBar .location,.categories{
    margin-left: 20px;
}
#sideBar .categories p, #sideBar .location p{
    padding: 10px;
}
#sideBar .categories p:hover,#sideBar .location p:hover{
    background-color: hsl(123,60%, 37%);
}
#sideBar h2 img{
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
}

/* main content */
#bars{
    height: 20px;
    width: 30px;
    display:  none;
}

@media only screen and (max-width: 768px) {
    #sideBar{
        position: fixed;
        width: 100%;
        left: -100%;
        transition: all .3s cubic-bezier(0.2, 0.055, 0.675, 0.59) ;
    }
    .moveSidebar{
        left: 0% !important;
    }
    #bars{
        display: unset;
        position: absolute;
        left: 10px;
        top: 90px;
        z-index: 1070;
    }
}
#popularItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    row-gap: 50px;
}
#popularItems .products{
    height: 320px;
    width: 200px;
    font-weight: 500;
    border: 3px solid #3E8141;
    border-radius: 10px;
    padding: 15px;
}
#popularItems .products .productImg{
    height: 150px;
    width: 98%;
    background: url(./images/viazi.jfif) center;
    background-repeat: no-repeat;
    background-size: contain !important;
    margin-bottom: auto;
    border-radius: 5px;
}
/* From cssbuttons.io by @BHARGAVPATEL1244 */
#popularItems .products button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.4rem 1rem;
    margin-left: 35px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: black;
    color: black;
   }
   
   #popularItems .products  button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   #popularItems .products  button:hover span {
    color: whitesmoke;
   }
   
   #popularItems .products  button::before,
   #popularItems .products button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   #popularItems .products button::before {
    content: "";
    background: #3E8141;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   #popularItems .products button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
#two{
    background-image: url(./images/nyanya.jpg) !important;
}  
#three{
    background-image: url(./images/onion.jfif) !important;
}
#four{
    background-image: url(./images/carrots.jpg) !important;
}

/* order now button */

.buy{
    width: 70vw;
    height: max-content;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    margin-top: 40px;
}
.buy .fa-xmark{
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 30px;
}
.buy .buyWrapper{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    flex-direction: column;
}
.buy .buyWrapper img{
    width: 100%;
    height: auto;
}
.buy .buyWrapper input{
    width: 40px;
    height: 20px;
}
/* button  */
/* From cssbuttons.io by @alexmaracinaru */
.cta {
    border: none;
    background: #3E8141;
    height: 30px;
    border-radius: 3px;
   }
   
   .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
   }
   
   .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active svg {
    transform: scale(0.9);
   }
   
   .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
   }
   
   .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   }
   
   .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
   }

/* cartNumber */

.cartNumber{
    background: yellow;
    position: relative;
    height: 17px;
    width: 17px;
    right: 70px;
    border-radius: 50%;
    /* padding: 2px; */
    font-size: 13px;
    padding-left: 4px;
}
  /* cart items*/

  .cartItems{
      position: absolute;
      top: 65px;
      right: 80px;
      z-index: 2070;
      background: #3E8141;
      width: 300px;
      height: max-content;
      display: none;
      place-items: center;
}
.cartItem{
    border: 1px solid black;
    height: 200px;
    width: 100%;
    display: grid;
    place-items: center;
}
.cartItemsOnclick{
    display: grid;
}