body{
    display: grid;
    place-items: center; 
    color: #333;
}
main{
    box-shadow: 10px 10px 50px 30px rgb(112, 146, 108);
    padding-right: 4vw;
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 250px;
    margin-top: 50px;
    font-family: proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
main h1{
    text-align: center;
    font-family: apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}
img{
    height: 120px !important;
    width: 150px;
    margin-bottom: 20px;
}
input{
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
    outline: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid green;
    transition: border-color .5s ease;
    font-size: larger;
}
input:focus{
    border-bottom: 1px solid #B7B108;
}
#password{
    margin-bottom: 20px;
}
/* //button */

/* From cssbuttons.io by @alexmaracinaru */
button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #3E8141;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 40px;
}
   
   button:hover {
    background: yellow;
   }
   
   button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
   }
   
   button:hover svg {
    transform: translateX(5px);
   }
   
   button:active {
    transform: scale(0.95);
   }
p{
    color: #3E8141;
}
p:hover{
    cursor: alias;
}