body{
    display: grid;
    place-items: center; 
    color: #333;
}
main{
    box-shadow: 10px 10px 50px 30px rgb(112, 146, 108);
    padding-right: 4vw;
    padding-left: 4vw;
    padding-bottom: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 250px;
    margin-top: 50px;
    font-family: proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
main h1{
    text-align: center;
    font-family: apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}
img{
    height: 120px !important;
    width: 150px;
    margin-bottom: 20px;
}
input{
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
    outline: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid green;
    transition: border-color .5s ease;
    font-size: larger;
}
input:focus{
    border-bottom: 1px solid #B7B108;
}
#password{
    margin-bottom: 20px;
}
/* From cssbuttons.io by @adamgiebl */
.cssbuttons-io-button {
    background: #3E8141;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #3E8141;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
   }
   
   .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em yellow;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
   }
   
   .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
   }
   