@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');
:root{
    --main-red: #EA2A3D;
    --main-yellow: #FFAF10;
    --dark-green: #159E97;
    --light-green: #60D882;
    --dm: "DM Sans";
    --light-yellow: #FBEB89;
    --cambo: 'Cambo', serif;
}