:root{
   /* variable to set main font */
    /* --main-font: 'Nova Mono', monospace; */
    --main-font: proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    --title-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --second-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-color: #13A76B;
    --btn-color: #FFE401;
    --sub-color: #FFAF10;
    --main-color-dark: #0a6440;
}
*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: #f8f8ff;
}
/* products style */
.trending, .new, .popular, .around{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
    justify-content: center;
}
.products{
width: 200px;
font-weight: 500;
font-size: .9rem;
border: 2px solid #3E8141;
border-radius: 5px;
padding: 15px;
overflow: hidden;
}
.products:hover{
    cursor: pointer;
}
.products > *{
    margin-bottom: 5px;
}
.products img {
width: 80%;
height: 150px;
width: auto;
overflow: hidden;
}
.products button{
outline: none;
cursor: pointer;
border: none;
padding: 0.4rem 1rem;
margin: 10px 0px 0px 20px;
font-family: inherit;
font-size: inherit;
position: relative;
display: inline-block;
letter-spacing: 0.05rem;
font-weight: 700;
font-size: 17px;
border-radius: 500px;
overflow: hidden;
background: black;
color: black;
border: none;
}
.products button span{
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}
.products button:hover span{
    color:whitesmoke;
}
.products button::before,
.products button::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.products button::before{
    content: "";
    background: var(--main-color);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.products button:hover::before{
    transform: translate3d(100%, 0, 0);
}
@media screen and (max-width: 400px){
    .wrapper{
        padding: 0px;
    }
    .trending, .new, .popular, .around{
        display: grid;
        grid-template-columns: auto auto;
        gap: 3px;
    }
    .products{
        width: 130px;
        height: 220px;
        font-size: .7rem;
        border: 1px solid #3E8141;
        padding: 3px;
    }
    .products > * {
        margin: 2px;
    }
    .products img {
        height: 90px;
        width: auto;
    }
    .products button{
        padding: 5px 10px;
        font-size: .7rem;
        margin: 3px 0px 0px 10px;
    }
}
button:hover{
    cursor: pointer;
}
