:root{
    --title-font: 'Archivo', sans-serif;
    --text-font: 'Orienta', sans-serif;
    --main-yellow: #FED200;
    --dark-yellow: hsl(48, 100%, 40%);
    --main-green: #44813E;
    --dark-green: #44813ebe;
    --main-red: #EA2A3D;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    background-color: #fff;
    color: #333;
}

