.trending, .new, .popular, .around{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
    justify-content: center;
}
.products{
width: 200px;
font-weight: 500;
font-size: .9rem;
border: 2px solid var(--main-green);
border-radius: 5px;
padding: 15px;
overflow: hidden;
}
.products:hover{
    cursor: pointer;
}
.products > *{
    margin-bottom: 5px;
}
.products img {
width: 80%;
height: 150px;
width: auto;
overflow: hidden;
}
.products button{
outline: none;
cursor: pointer;
border: none;
padding: 0.4rem 1rem;
margin: 10px 0px 0px 20px;
font-family: inherit;
font-size: inherit;
position: relative;
display: inline-block;
letter-spacing: 0.05rem;
font-weight: 700;
font-size: 17px;
border-radius: 500px;
overflow: hidden;
background: var(--main-green);
color: var(--main-yellow);
border: none;
}

@media screen and (max-width: 500px){
    .wrapper{
        padding: 0px;
    }
    .trending, .new, .popular, .around{
        display: grid;
        grid-template-columns: auto auto;
        gap: 3px;
    }
    .products{
        width: 130px;
        height: 220px;
        font-size: .7rem;
        border: 1px solid #3E8141;
        padding: 3px;
    }
    .products > * {
        margin: 2px;
    }
    .products img {
        height: 90px;
        width: auto;
    }
    .products button{
        padding: 5px 10px;
        font-size: .7rem;
        margin: 3px 0px 0px 10px;
    }
}
button:hover{
    cursor: pointer;
}
