body{
    display: grid;
    place-items: center;
    font-family:proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
#image{
    height: 80px;
    width: 110px;
    margin-right: auto;
    color: green;
}
nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 97vw;
    top: 10px;
    background: white;
    z-index: 1070;
}
.navImages{
    height: 20px;
    width: 30px;
    margin-left: 30px;
}
.image1{
    margin-left: auto;
} 
#search{
    width: 60%;
    align-self: flex-end;
    appearance: none;
    outline: none;
    border: none;
    height: 40px;
    background: #dce2dd;
    border-radius: 5px;
    transition: all .5s ease;
    position: relative;
    top: 80px;
    font-size: large;
    font-weight: 500;
}
#search:focus{
    border-bottom: 1px solid #3E8141;
}
#search::placeholder{
    color:#3E8141;
}
@media screen and (max-width: 425px) {
    .navImages{
        margin-left: 15px;
    }
    #image{
        height: 60px;
        width:80px;
        margin-right: auto;
        color: green;
    }
    nav input{
        position: relative;
        top: 40px;
        width: 100px;
    }

}
main{
    display: grid;
    position: absolute;
    top: 165px;
    grid-template-columns: auto auto;
}
#popular{
    position: absolute;
    top: 120px;
}
/* side barrrr */
#sideBar{
    width: 300px;
    background: #3E8141;
    height: max-content;
    top: 135px;
    display: flex;
    flex-direction: column;
    z-index: 1070;
}
#sideBar .location,.categories{
    margin-left: 20px;
}
#sideBar .categories p, #sideBar .location p{
    padding: 10px;
}
#sideBar .categories p:hover,#sideBar .location p:hover{
    background-color: hsl(123,60%, 37%);
}
#sideBar h2 img{
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
}

/* main content */
#bars{
    height: 20px;
    width: 30px;
    display:  none;
}

@media only screen and (max-width: 768px) {
    #sideBar{
        position: fixed;
        width: 100%;
        left: -100%;
        transition: all .3s cubic-bezier(0.2, 0.055, 0.675, 0.59) ;
    }
    .moveSidebar{
        left: 0% !important;
    }
    #bars{
        display: unset;
        position: absolute;
        left: 10px;
        top: 90px;
        z-index: 1070;
    }
}
/* fiixxxxxxxdxxxxxxx */
#popularItems {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    padding: 30px;
    row-gap: 50px;
}
#popularItems .products{
    width: 200px;
    font-weight: 500;
    border: 3px solid #3E8141;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
}
#popularItems .products img {
    width: 80%;
    height: 150px;
    width: auto;
    overflow: hidden;
}
/* order now   */
#popularItems .products button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.4rem 1rem;
    margin-left: 35px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: black;
    color: black;
   }
   
   #popularItems .products  button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   #popularItems .products  button:hover span {
    color: whitesmoke;
   }
   
   #popularItems .products  button::before,
   #popularItems .products button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   #popularItems .products button::before {
    content: "";
    background: #3E8141;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   #popularItems .products button:hover::before {
    transform: translate3d(100%, 0, 0);
   }

/* order now button */

.buyCustomerPrompt{
    width: 70vw;
    height: max-content;
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    margin-top: 40px;
}
.buyCustomerPrompt .fa-xmark{
    position: absolute;
    right: 10px;
    top: 10px;
}
/* button  */
.cta {
    border: none;
    background: #3E8141;
    height: 30px;
    border-radius: 3px;
   }
   
   .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
   }
   
   .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active svg {
    transform: scale(0.9);
   }
   
   .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
   }
   
   .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   }
   
   .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
   }

/* cartNumber */

.cartNumber{
    background: yellow;
    position: relative;
    height: 13px;
    width: 13px;
    display: grid;
    place-items: center;
    right: 70px;
    border-radius: 50%;
    font-size: 10px;
}
  /* cart items*/

  .cartItems{
      position: absolute;
      top: 65px;
      right: 80px;
      z-index: 2070;
      background: #3E8141;
      width: max-content;
      padding: 30px;
      height: max-content;
      display: none;
      place-items: center;
}
.cartItem{
    border: 1px solid black;
    height: max-content;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.cartItem > button{
    appearance: none;
    outline: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.emptyCart{
    display: none;
}
@media screen and (max-width: 780px) {
    .cartItems{
        position: absolute;
        top: 65px;
        right: 0px;
        width: max-content;
        display: none;
  }
}
@media screen and (max-width: 420px){
    .cartItems{
        width: 100vw;
        place-items: center;
    }
    .cartItem{
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        margin-left: 30px;
    }
}
.cartItemsOnclick{
    display: grid;
}
.checkOut > button{
    padding: 10px;
}

/* checkout button */ 
#checkoutBtn {
 padding: 1em 2em;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color: #fff;
 border: none;
 border-radius: 45px;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
}

#checkoutBtn:hover {
 background-color: yellow;
 box-shadow: 0px 15px 20px #3E8141;;
 color: #333;
 transform: translateY(-7px);
}

#checkoutBtn:active {
 transform: translateY(-1px);
}

/* overlay */
.overlay{
    position: fixed;
    left: -110%;
    height: 500%;
    width: 100vw;
    background: rgba(91, 81, 81, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(91, 81, 81, 0.3);
    z-index: 1090;
}
.newOverlay{
    left: 0;
}

.accountDetails{
    position: absolute;
    right: 10px;
    top: 80px;
    height: 100px;
    width: 150px;
    background: #3E8141;
    z-index: 10990;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0 20px 0;
    display: none;
    /* place-items: ; */
}
.accountDetailsOnClick{
   display: block;
}
.accountDetails > img {
    height: 35px;
    width: 35px;
}
.accountDetails > button{
    appearance: none;
    outline: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

/* item prompt  */

.buyCustomerPrompt{
    display: flex;
    flex-direction: row;
}
#itemImg{ 
   width: 400px;
   height: auto;
   margin-right: auto;
   margin-left: 30px;
   border-radius: 10px;
}
#farmersContent{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    background: #3E8141;
}
#farmersContent > img{
    height: 150px;
    width: 150px;

}
